# IDE files
.idea/
.DS_Store

# Gradle files
.gradle/
build/
local.properties

# Android Studio files
*.iml
.cxx/
*.apk
*.aab
*.ap_
*.apks
*.dex
*.aab
*.jar
*.class
*.swp
*~
*.keystore
*build/
*release/
*debug/
*.stacktrace
captures/
.externalNativeBuild/
.cxx/
*.nav_editor_back_up
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/workspace.xml
.idea/vcs.xml
/gradle/
/gradlew
/gradlew.bat
/local.properties
/build
/.idea
/.gradle
/app/build
/app/release
/app/debug
/app/*.apk
/app/*.aab
/app/*.ap_
/app/*.apks
/app/*.dex
/app/*.jar
/app/*.class
/app/*.swp
/app/*~
/app/*.keystore
/app/*.stacktrace
/app/captures/
/app/.externalNativeBuild/
/app/.cxx/
/app/*.nav_editor_back_up
/app/.idea/caches/
/app/.idea/libraries/
/app/.idea/modules.xml
/app/.idea/navEditor.xml
/app/.idea/workspace.xml
/app/.idea/vcs.xml
*.log
.settings/
.classpath
.project
project.properties
proguard/
bin/
gen/
lint.xml
out/
.navigation/
*.lock
.DS_Store
*.swp
*~
app/google-services.json
app/fabric.properties
/app/src/main/assets/
/app/src/main/res/raw/
.sonar/
sonarqube-project.properties
/app/src/androidTest
/app/src/test
.gradletasknamecache
.profile
vcs.xml
